html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #25282c;
}

@font-face {
  font-family: icielCadena;
  src: url(iciel_Cadena-e20b91a4b95f69dba2fcfa74e6e3d933.ttf);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.card-center-body{
  margin-top: 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.address-bnb{
  color: #fff;
}

.image-item-shop{
  height: 78px;
  object-fit: contain;
  transition: all .2s;
}

.image-item-shop:hover{
  transform: scale(1.1);
}

.card{
  background-color: #191c20;
  color: #fff;
}

.title-item-shop{
  font-family: icielCadena;
  font-size: 25px;
  margin-top: 20px;
}

footer{
  position: absolute;
  color: #fff;
  bottom: 0;
  padding: 10px;
}

.menu{
  text-align: center;
  color: #fff;
}

.logo-pk{
  font-size: 30px;
  top: 30px;
  padding: 10px;
  font-family: icielCadena;
  text-shadow: 2px 0 0 #913b18, -2px 0 0 #913b18, 0 2px 0 #913b18, 0 -2px 0 #913b18, 2px 2px #913b18, -2px -2px 0 #913b18, 2px -2px 0 #913b18, -2px 2px 0 #913b18;

}

.logo-user{
  font-size: 30px;
  top: 30px;
  padding: 10px;
  margin-left: 90px;
  font-family: icielCadena;
  text-shadow: 2px 0 0 #913b18, -2px 0 0 #913b18, 0 2px 0 #913b18, 0 -2px 0 #913b18, 2px 2px #913b18, -2px -2px 0 #913b18, 2px -2px 0 #913b18, -2px 2px 0 #913b18;

}

.logo-home{
  font-size: 30px;
  top: 30px;
  padding: 10px;
  margin-left: -175px;
  font-family: icielCadena;
  text-shadow: 2px 0 0 #913b18, -2px 0 0 #913b18, 0 2px 0 #913b18, 0 -2px 0 #913b18, 2px 2px #913b18, -2px -2px 0 #913b18, 2px -2px 0 #913b18, -2px 2px 0 #913b18;
}

.menu a:hover{
  color: #fff;
  top: 20px;
}

.menu a{
  transition: all .2s;
  position: absolute;
}